@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, serif;
  color: hsl(0, 0%, 20%);
}

a {
  all: unset;
  cursor: pointer;
}

button,
.top a {
  border: 2px solid rgb(127, 204, 255);
  border-radius: 12px;
  padding: 8px 36px;
  font-size: 14px;
  cursor: pointer;
  margin: 12px;
}
button:hover,
.top a:hover {
  background-color: rgb(127, 204, 255);
}

input {
  width: min(700px, 80%);
  padding: 8px 24px;
  border: none;
  outline: 2px solid lightblue;
  border-radius: 12px;
}

body {
  background-color: hsl(0, 0%, 95%);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.wrapper {
  width: min(100%, 1024px);
  margin: auto;
  padding-inline: 16px;
}

.signature {
  font-size: 12px;
  a {
    background-color: lime;
    padding: 4px 8px;
    border-radius: 8px;
  }
}
.signature a:hover {
  background-color: limegreen;
}

header > div {
  background: linear-gradient(
    90deg,
    hsla(217, 100%, 50%, 1) 0%,
    hsla(186, 100%, 69%, 1) 100%
  );
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 8px 0 0 rgb(255, 255, 255);
  > a {
    font-size: 28px;
    font-weight: 400;
    color: white;
    letter-spacing: 3px;
    transition: letter-spacing 0.15s;
  }
  > a:hover {
    letter-spacing: 4px;
  }
}

nav {
  display: flex;
  align-items: center;
  gap: 20px;
  a {
    position: relative;
    font-size: 16px;
  }
  a::after,
  a::before {
    content: "";
    position: absolute;
    bottom: -10px;
    height: 3px;
    width: 0%;
    background-color: crimson;
    transition: width 0.2s ease;
  }
  a::after {
    left: 50%;
  }
  a::before {
    right: 50%;
  }

  a:hover::after,
  a:hover::before {
    width: 50%;
  }
  a:hover {
    color: rgb(0, 0, 0);
  }
}

@media (max-width: 820px) {
  nav {
    position: absolute;
    right: 12px;
    top: 72px;
    flex-direction: column;
    background-color: aliceblue;
    padding: 12px;
    border-radius: 8px;
  }
}

.overview-page {
  h1,
  h2,
  p {
    text-align: center;
    justify-self: center;
    max-width: 65ch;
    line-height: 1.45;
  }
  ul {
    justify-self: center;
  }
  li {
    max-width: 65ch;
    margin-block: 8px;
    font-size: 16px;
    margin-left: min(5%, 12px);
    list-style-type: none;
    display: flex;
    align-items: center;
  }
  ul li::before {
    content: "\2713";
    color: green;
    margin-right: 12px;
  }
}

.msgs-page,
.log-in-page,
.sign-up-page,
.dashboard {
  display: flex;
  flex-direction: column;
  gap: 12px;
  h1 {
    text-align: center;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  section {
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  article {
    display: grid;
    grid-template: auto 1fr / auto 1fr auto;
    gap: 24px;
    padding: 12px 24px 24px 16px;
    border: 1px solid lightblue;
    background-color: rgba(173, 216, 230, 0.25);
    border-radius: 12px;
    grid-template-areas:
      "user names date"
      "message message message";
    > div {
      grid-area: names;
      align-items: start;
      display: flex;
      gap: 8px;
    }
    > p:first-of-type {
      grid-area: user;
      font-style: italic;
    }
    > p:nth-of-type(2) {
      grid-area: date;
    }
    > p:nth-of-type(3) {
      grid-area: message;
      font-size: 24px;
    }
  }
}

.log-in-page,
.sign-up-page {
  > p {
    text-align: center;
    a {
      color: blue;
    }
  }
  form div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: min(500px, 100%);
    gap: 24px;
    flex-wrap: wrap;
    margin-block: 24px;
  }
}

.settings {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.data {
  display: flex;
  flex-direction: column;
  gap: 12px;

  form {
    width: min(400px, 100%);
    display: flex;
    flex-direction: column;
    gap: 24px;
    > p:nth-of-type(1) {
      font-style: italic;
    }
    button {
      align-self: center;
    }
    div {
      display: flex;
      align-items: center;
      gap: 12px;
      > p {
        flex-shrink: 0;
      }
    }
  }
}

.top {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.dashboard > div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 16px;
}

.dashboard section {
  gap: 8px;
}
.dashboard article {
  gap: 4px;
  font-size: 12px;
  padding: 6px 12px 12px 6px;
}

.dashboard h2 {
  text-align: center;
  margin-bottom: 12px;
}

.dashboard .notes section article {
  display: flex;
  flex-direction: column;
  padding: 6px 12px;
  gap: 12px;
  overflow: hidden;
  > p {
    font-size: 20px;
    font-style: initial;
  }
}
.extra {
  display: grid !important;
  grid-template: 0fr / 0fr;
  justify-content: center;
  > div {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

.view {
  border: none;
  background-color: transparent;
  margin: 0;
}
