<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>
    <h1>Welcome to Your Dashboard!</h1>
    <a href="/documentation">review code</a>
    <a href="/messages">check all messages</a>
    <p>Welcome back <%= data.first_name %> <%= data.last_name %></p>
    <p>your messages</p>
    <%= messages %>
    <p>you notes</p>
    <%= notes %>
    <p>Here you can view your profile and update your information.</p>
    <a href="/settings">settings</a>
    <a href="/log-out">Log Out</a>
  </body>
</html>
