<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log In - My Members Club</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header>
      <div class="wrapper">
        <a href="/">My Members Club</a>
        <nav>
          <a href="/documentation">Review Code</a>
          <a href="/messages">Messages Board</a>
          <a href="/sign-up">Sign up</a>
        </nav>
      </div>
    </header>
    <div class="log-in-page wrapper">
      <br />
      <br />
      <h1>Log In</h1>
      <br />
      <% if (locals.message) { %>
      <p style="color: red"><%= locals.message %></p>
      <% } %>
      <form action="/log-in" method="POST">
        <div>
          <input type="text" placeholder="username" name="username" required />
        </div>
        <div>
          <input
            type="password"
            placeholder="password"
            name="password"
            required
          />
        </div>
        <div>
          <button type="submit">Log In</button>
        </div>
      </form>
      <p>Don't have an account? <a href="/sign-up">Sign Up</a></p>
    </div>
  </body>
</html>
