<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restricted Access - My Members Club</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header>
      <div class="wrapper">
        <a href="/">My Members Club</a>
        <nav>
          <a href="/documentation">Review Code</a>
          <a href="/messages">Messages Board</a>
          <a href="/dashboard">Dashboard</a>
          <a href="/settings">Settings</a>
          <a href="/log-out">Log Out</a>
        </nav>
      </div>
    </header>
    <div class="simple-page wrapper">
      <h1>You dont have access to this part of the website</h1>
      <p>
        consider upgrading at your settings page to access this restricted part
        of the website.
      </p>
    </div>
  </body>
</html>
