<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>My members Club</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header>
      <div class="wrapper">
        <a href="/">My Members Club</a>
        <nav>
          <a href="/documentation">Review Code</a>
          <a href="/messages">Messages Board</a>
          <% if (isLoggedIn) { %>
          <a href="/dashboard">Dashboard</a>
          <a href="/settings">Settings</a>
          <a href="/log-out">Log Out</a>
          <% } else { %>
          <a href="/log-in">Sign In</a>
          <a href="/sign-up">Sign Up</a>
          <% } %>
        </nav>
      </div>
    </header>
    <div class="overview-page wrapper">
      <br />
      <br />
      <h1>Welcome to my Application!</h1>
      <br />
      <p>Use the nav links to explore my membership app</p>
      <br />
      <br />
      <h2>What is this project?</h2>
      <br />
      <ul>
        <p>
          This is a practice app for TOP on using passport js to authenticate
          users. The website has contnet available to the public and features
          only available to users. There are also user levels which determine
          the extent of available features
        </p>
      </ul>
      <br />
      <br />
      <br />
      <h2>Acess tiers</h2>
      <br />
      <ul>
        <li>
          Anyone can visit and view the code review page and the messaging baord
          (view only)
        </li>
        <li>
          level 1 users can see who posted on the board but cant post (has a
          private dahsboard and is able to make private notes)
        </li>
        <li>
          level 2 users have level 1 access and post messages to the board (can
          see others names and the message date)
        </li>
        <li>
          level 3 users have level 2 access and also view a secret page (limited
          private access)
        </li>
        <li>
          admin level (level 4) has level 3 access and can also delete messages
          and users
        </li>
      </ul>
      <br />
      <br />
      <br />
      <p class="signature">
        made by
        <a href="https://github.com/kad5">Kad5</a>
      </p>
    </div>
  </body>
</html>
