<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up - My Members Club</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header>
      <div class="wrapper">
        <a href="/">My Members Club</a>
        <nav>
          <a href="/documentation">Review Code</a>
          <a href="/messages">Messages Board</a>
          <a href="/log-in">Log in</a>
        </nav>
      </div>
    </header>
    <div class="sign-up-page wrapper">
      <h1>Create an Account</h1>

      <% if (locals.stuff) { %> <% stuff.errors.forEach(msg => { %>
      <div style="color: red"><%= msg.msg %></div>
      <% }) %> <% } %>

      <form action="/sign-up" method="POST">
        <div>
          <input
            type="text"
            placeholder="username"
            name="username"
            value="<%= locals.stuff && locals.stuff.formData ? stuff.formData.username : '' %>"
            required
          />
        </div>
        <div>
          <input
            type="password"
            name="password"
            placeholder="password"
            required
          />
        </div>
        <div>
          <input
            type="password"
            placeholder="confirmPassword"
            name="confirmPassword"
            required
          />
        </div>
        <div>
          <input
            type="text"
            placeholder="firstName"
            name="firstName"
            value="<%= locals.stuff && locals.stuff.formData ? stuff.formData.firstName : '' %>"
            required
          />
        </div>
        <div>
          <input
            type="text"
            placeholder="lastName"
            name="lastName"
            value="<%= locals.stuff && locals.stuff.formData ?  stuff.formData.lastName : '' %>"
            required
          />
        </div>
        <div>
          <button type="submit">Sign Up</button>
        </div>
      </form>
      <p>Already have an account? <a href="/log-in">Log In</a></p>
    </div>
  </body>
</html>
